/* styles.css */

/* Basic table styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  table-layout: auto; /* Set the table layout to auto */
}

/* Data row styles
tr:nth-child(even) {
  background-color: #f2f2f2;
} */

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.pagination a.active {
  font-weight: bold;
}

/* styles.css */
.blur-background {
  filter: blur(5px); /* Adjust the blur intensity as needed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Adjust the background color and opacity */
  z-index: 999; /* Ensure it's above other elements */
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above the blurred background */
}

.seerDiscoverROM {
  font-family: 'Roboto', sans-serif !important;
}

.seerDiscoverROM .flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seerDiscoverROM .flex-wrap-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.seerDiscoverROM .flex-wrap-justify {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.seerDiscoverROM .flex-wrap-end {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.seerDiscoverROM .label {
  color: rgb(51, 51, 51);
  font-size: 13px;
}

.seerDiscoverROM  .toggle-btn {
  height: 20px;
  font-size:12px;
  padding: 10px 12px;
  color: #676767;
  border-width: 0.5px;
  background-color: transparent !important;
  border-color: #C1BDBD !important;
  text-transform: capitalize;
}

.seerDiscoverROM .toggle-btn.Mui-selected {
  background-color: #B23000 !important;
  color: #ffffff !important;
  border-color: #B23000 !important;
}

.seerDiscoverROM  .mr-10 {
  margin-right: 10px;
}

.seerDiscoverROM  .mr-15 {
  margin-right: 15px;
}

.seerDiscoverROM .refresh-icon {
  height: 17px;
  margin-right: 5px;
}

.seerDiscoverROM .blue-text {
  color: #0E94FD;
  font-weight: 600;
  font-size: 13px;
}

.seerDiscoverROM .gray-text {
  color: #292D32;
  font-weight: 600;
  font-size: 13px;
}

.seerDiscoverROM .m-0 {
  margin: 0 !important;
}

.seerDiscoverROM  .dropdown {
  border: 1px solid rgb(216, 216, 216) !important;
  height: 20px;
  font-size: 12px;
  text-transform: capitalize;
}

.seerDiscoverROM .MuiTableRow-head {
  background-color: #015BA1;
  font-family: 'Roboto', sans-serif !important;
}

.seerDiscoverROM .MuiTableRow-head  .Mui-TableHeadCell-Content-Wrapper {
  color: #ffffff !important;
}

.seerDiscoverROM td .MuiButtonBase-root .MuiSvgIcon-root {
  color: transparent;
}

.custom-dropdown-menu li {
  font-size: 13px;
}

.seerDiscoverROM .ant-tabs-nav {
  margin-bottom: 0;
}

.seerDiscoverROM .ant-tabs-nav {
  font-size: 13px;
}

.seerDiscoverROM .text-right {
  text-align: right;
}

.seerDiscoverROM .btn-default {
  font-size: 13px;
  color: rgb(51, 51, 51);
  text-transform: capitalize;
}

.seerDiscoverROM .MuiAlert-message {
  padding: 0 !important;
  font-size: 12px;
}

.seerDiscoverROM .ptb-10 {
  padding: 10px 0;
}

.seerDiscoverROM .MuiPaper-elevation {
  background-color: transparent !important;
}

.seerDiscoverROM .MuiPaper-elevation .MuiAlert-message .MuiBox-root {
  padding: 0.5rem 0 !important;
}

.seerDiscoverROM td, .seerDiscoverROM th {
  padding: 1px 10px;
  font-size: 13px;
  border-bottom: 1px solid #C1BDBD;
  font-family: 'Roboto', sans-serif !important;
  /* color: #000000 !important; */
  white-space: nowrap; /* Prevent cell content from wrapping */
}

.seerDiscoverROM td {
  border-left: none;
  border-right: none;
}

.seerDiscoverROM th {
  font-weight: 500;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.seerDiscoverROM .btn-gray-outline, .containerManualTable .btn-gray-outline {
  height: 20px;
  font-size:12px;
  padding: 10px 12px;
  color: #C1BDBD;
  background-color: transparent !important;
  border: 0.5px solid#C1BDBD !important;
  box-shadow: none !important;
  text-transform: capitalize;
}


.seerDiscoverROM .btn-blue-outline {
  height: 20px;
  /* 35px; */
  font-size:12px;
  /* 13px; */
  padding: 10px 12px;
  /* 7px 12px; */
  color: #0E94FD;
  background-color: transparent !important;
  border: 0.5px solid#0E94FD !important;
  box-shadow: none !important;
  text-transform: capitalize;
}


.seerDiscoverROM  .btn-primary, .containerManualTable .btn-primary {
  height: 20px;
  /* 35px; */
  font-size:12px;
  /* 13px; */
  padding: 10px 12px;
  /* 7px 12px; */
  color: #ffffff !important;
  background-color: #0E94FD !important;
  border: 1px solid#0E94FD !important;
  box-shadow: none !important;
  text-transform: capitalize;
}

.seerDiscoverROM  .btn-blue-outline .btn-icon{
  color: #0E94FD !important;
}

.seerDiscoverROM  .btn-primary .btn-icon{
  color: #ffffff !important;
}

.seerDiscoverROM .btn-icon {
  height: 19px;
  color: #C1BDBD;
  margin-right: 2px;
}

.seerDiscoverROM .MuiChip-deletable {
  height: 25px;
}

.seerDiscoverROM .MuiChip-deleteIcon {
  font-size: 15px !important;
  color: #ffffff !important;
}

.seerDiscoverROM .hightlighted-row {
  background-color: #b8b8b8;
}

.seerDiscoverROM .total-row {
  background-color: #005a9e;
}

.seerDiscoverROM .hightlighted-row td, .seerDiscoverROM .total-row td{
  font-weight: 700;
}

.seerDiscoverROM .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation2.css-80pr5n-MuiPaper-root {
  padding: 12px 20px;
}

.seerDiscoverROM .custom-toggle-button .MuiButtonBase-root {
  width: 50px;
  background-color: #0093FE;
}

.MuiDrawer-modal .MuiPaper-elevation {
  border-radius: 0;
  box-shadow: none;
}

.MuiDrawer-modal .drawer-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #01508E;
  padding: 16px;
}

.MuiDrawer-modal .drawer-heading .title{
 color: #ffffff;
 font-size: 16px;
 margin-top: 0;
 margin-bottom: 5px;
 font-weight: 700;
 font-family: 'Roboto', sans-serif !important;
}

.MuiDrawer-modal .drawer-heading .sub-title{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif !important;

}

.MuiDrawer-modal .drawer-heading .close{
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.MuiDrawer-modal tr{
  display: flex;
  justify-content: space-between;
}

.MuiDrawer-modal tr {
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #AAA6A6;
  position: relative;
}

.MuiDrawer-modal .collapse-icon {
  position: absolute;
  right: 12px;
  top: 8px;
  stroke: black;
  stroke-width: 1;
}

.MuiDrawer-modal .collapse-expand-icon {
  width: 15px;
}

.MuiDrawer-modal table th, .MuiDrawer-modal table td {
  border: none;
}

.MuiDrawer-modal th, .MuiDrawer-modal td {
  padding: 8px 15px !important;
}

/* manual table */
.seerDiscoverROM body {
  box-sizing: border-box;
  color: #220f5f;
  font-family: 'Poppins', sans-serif;
}

.containerManualTable {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
  margin-top: 10;
}

.titleManualTable {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.seerDiscoverROM .MuiInput-root:focus {
  background-color: #ffffff;
}

.seerDiscoverROM input {
  font-size: 13px;
  background-color: transparent;
  border: none;
  width: 91%;
  padding: 7px 12px;
  font-family: 'Poppins', sans-serif;
}

.seerDiscoverROM input:hover, .seerDiscoverROM input:focus {
  background-color: transparent !important;
  outline: none !important;
}

.seerDiscoverROM input:focus {
  background-color: #ffffff !important;
  outline: none !important;
}

.seerDiscoverROM .ant-tabs th {
  --header-mrt_row_expand-size: 14; 
}

.seerDiscoverROM .btn-small {
  min-width: 20px !important;
  width: 20px !important;
}

.containerManualTable td {
  border: 1px solid #000000;
  padding: 4px 10px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif !important;
  color: #000000 !important;
}

.containerManualTable th {
  background-color: #015BA1;
  color: #ffffff;
  padding: 10px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif !important;
  white-space: nowrap; 
  text-align: left;
}

.containerManualTable input, .containerManualTable select {
  border: none;
  text-align: left;
  padding: 0;
}

.custom-modal .modal-title {
  padding: 0 25px;
  margin: 20px 0;
  font-weight: 600;
}

.containerManualTable .modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.containerManualTable .mr-10 {
  margin-right: 10px;
}

.seerDiscoverROM .requrinemntSubTabs {
  display: 'flex';
  margin-left: 10px
}

.requrinemntSubTabs {
  display: 'flex';
  margin-left: 10px
}

.reqTabBtn {
  margin-right: '10px';
  font-size: '10px';
  text-transform: 'none' 
}

.MuiMenuItem-root .MuiBox-root {
  font-size: 13px;
}
.grouping-title {
  font-weight: bold;
}

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1dbaf3q-MuiTableCell-root::after {
  content: "" !important;
  display: none !important;
}

.MuiTooltip-tooltip {
  font-size: 13px !important;
}

.seerDiscoverROM {
  min-height: 71vh;
}

.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root:focus {
  background-color: #ffffff;
}